{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset_request.css' %}">
</head>
<body>
    <div class="signup-container">
        <h2>Reset Your Password</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email.errors }}
                {{ form.email }}
            </div>

            <button type="submit">Send Recovery Email</button>
            <div class="footer">
                Remember your password? <a href="{% url 'login' %}">Login</a><br>
            </div>
        </form>
    </div>
</body>
</html>